{% extends 'DecathlonDevOpsBundle::layout.html.twig' %}
{% block header %}{{ parent() }} :: Contacto{% endblock %}
{% block content %}
    Formulario de contacto:
    <form>
        <input type="text" name="nombre"/>
        <textarea></textarea>
        <input type="button" value="submit"/>
    </form>
{% endblock %}