{% extends 'DecathlonDevOpsBundle::layout.html.twig' %}
{% block header %}{{ parent() }} :: Insertar Noticia{% endblock %}
{% block content %}
    <h1>Insertar Noticia</h1>
    <div class="row">
        <div class="col-md-10">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}